.login-form {
  margin: 0px auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.error-container {
  height: 35px;
}

.buttonContainer {
  display: grid;
  gap: 15px;
}

.buttonContainer > button {
  width: 100%;
}

.buttonContainer .other {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  justify-items: center;
}

.input-icon {
  position: relative;
  bottom: 3px;
  font-size: 1.2em;
}
