<form [formGroup]="loginForm" novalidate class="login-form" (ngSubmit)="login()">
  <!-- EMAIL -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <mat-icon class="input-icon" color="primary" matPrefix>alternate_email</mat-icon>
    <input type="text" matInput autocomplete="off" formControlName='email'>
    <mat-icon color="accent" matSuffix *ngIf="emailFieldIsValid">check_circle_outline</mat-icon>
    <mat-icon matSuffix color="warn" *ngIf="emailFieldIsInvalid">error_outline</mat-icon>
    <mat-hint *ngIf="emailPatternIsInvalid">Debe ingresar un email válido</mat-hint>
    <mat-hint *ngIf="emailIsRequired">El email es obligatorio</mat-hint>
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field appearance="outline">
    <mat-icon class="input-icon" color="primary" matPrefix>lock</mat-icon>
    <mat-label>Contraseña</mat-label>
    <input type="text" matInput autocomplete="off" formControlName='password'>
    <mat-icon color="accent" matSuffix *ngIf="passwordFieldIsValid">check_circle_outline</mat-icon>
    <mat-icon matSuffix color="warn" *ngIf="passwordFieldIsInvalid">error_outline</mat-icon>
    <mat-hint *ngIf="passwordLengthIsInvalid">La contraseña debe tener un minimo de 6 caracteres</mat-hint>
    <mat-hint *ngIf="passwordIsRequired">El campo contraseña es requerido</mat-hint>
  </mat-form-field>

  <!-- BUTTON -->
  <div class="buttonContainer">
    <button mat-raised-button color="warn" [disabled]="loginForm.invalid">Ingresar</button>
    <div class="other">
      <button type="button" mat-button color="primary" routerLink="/account/reset">Olvide mi contraseña</button>
      <button type="button" mat-button color="primary" routerLink="/account/register">Registrarme</button>
    </div>
  </div>
</form>