<mat-sidenav-container class="container">
  <!-- side-nav -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="toolbar">Stockingup</mat-toolbar>
    <!-- Elements list menu -->

    <mat-list>

      <mat-list-item *ngFor="let item of links">
        <button type="button" [routerLink]="item.url" mat-mini-fab>
          <mat-icon>{{item.icon}}</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- side-nav-content -->
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <!-- <span>Angular Material Example</span> -->
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>