.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  align-content: center;
}

.content {
  width: 300px;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 1fr, 1fr;
  gap: 20px;
  justify-items: center;
}

.content .brand > h1 {
  color: rgb(255, 89, 0);
  font-weight: bolder;
  font-size: 2.8em;
}

.content .forms-container {
  width: 100%;
  padding-top: 15px;
  /* border: 1px solid rgb(225, 101, 7);
  border-radius: 10px; */
}
